<div class="services-features">
    <div class="grid-bg-wrapper container">
        <div class="background-grid"></div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="shift-2">
                <div class="cols-wrapper">
                    <div class="feature-col">
                       {{ component.firstCol }}
                    </div>
                    <div class="feature-col">
                        {{ component.secondCol }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>