<div class="component-container">
    <div class="footer">
        <div class="grid-bg-wrapper container">
            <div class="background-grid"></div>
        </div>
        <div class="container content">
            <div class="row">
                {% set navigations  = craft.entries.section('footerNavigation').level(1).all() %}
                {# <ul class="navbar-nav ml-auto"> #}
                {% for page in navigations %}
                    <div class="col-2">
                        {% switch page.type.handle %}
                            {% case "heading" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_heading' %}
                            {% case "linkTo" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_linkTo' %}
                            {% case "page" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_page' %}
                            {% case "subscribeForm" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_subscribeForm' %}
                            {% case "followJoinUs" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_followJoinUs' %}
                        {% endswitch %}
                        {% if page.hasDescendants() %}
                            <nav>
                                <ul>
                                    {% set subpages = page.getChildren() %}
                                    {% for subpage in subpages.all() %}
                                        <li>
                                            {% switch subpage.type.handle %}
                                                {% case "heading" %}
                                                {% set manuItem = subpage %}
                                                {% include 'partials/footer/_heading' %}
                                                {% case "linkTo" %}
                                                {% set menuItem = subpage %}
                                                {% include 'partials/footer/_linkTo' %}
                                                {% case "page" %}
                                                {% set menuItem = subpage %}
                                                {% include 'partials/footer/_page' %}
                                            {% endswitch %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="copyright">
                <h1 class="logo">
                    <a href="#">MetaCell</a>
                </h1>
                <nav>
                 {% set navigations  = craft.entries.section('footerCopyright').level(1).all() %}
                {% for page in navigations %}
                     {% switch page.type.handle %}
                            {% case "linkTo" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_linkTo' %}
                            {% case "page" %}
                            {% set menuItem = page %}
                            {% include 'partials/footer/_page' %}
                        {% endswitch %}
                {% endfor %}
                </nav>
            </div>
        </div>
    </div>
</div>