<div class="header ">
    <div class="container">
        <div class="header-inner">
            <h1 class="logo">
                <a href="#">MetaCell</a>
            </h1>
            <nav>
                {% set navItems = craft.entries.section('headerNavigation').level(1).all() %}
                {% for item in navItems %}
                    <a class="{% if craft.app.request.absoluteUrl == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
                <a class="btn-primary" href="#">Request a quote</a>
            </nav>
            <button class="menu-trigger">
                <span class="triger-item"></span>
                <span class="triger-item"></span>
                <span class="triger-item"></span>
            </button>
        </div>
    </div>
</div>