<div class="header ">
    <div class="container">
        <div class="header-inner">
            <h1 class="logo">
                <a href="{{ siteUrl }}">
                    {{ siteName }}</a>
            </h1>
            <nav>
                {% set navItems = craft.entries.section('headerNavigation').level(1).all() %}
                {% for item in navItems %}
                    {% switch item.type.handle %}
                        {% case "linkTo" %}
                        {% include 'partials/header/_linkTo' %}
                        {% case "page" %}
                        {% include 'partials/header/_page' %}
                    {% endswitch %}
                {% endfor %}
            </nav>
            <button class="menu-trigger">
                <span class="triger-item"></span>
                <span class="triger-item"></span>
                <span class="triger-item"></span>
            </button>
        </div>
    </div>
</div>