<div class="header ">
    <div class="container">
        <div class="header-inner">
            <h1 class="logo">
                <a href="#">MetaCell</a>
            </h1>
            <nav>
                <a class="active" href="#">Our Company</a>
                <a href="#">Our Platform</a>
                <a href="#">Our Portfolio</a>
                <a href="#">Our Services</a>
                <a href="#">Resources</a>
                <a href="#">Joins Us</a>
                <a href="#">Contact Us</a>
                <a class="btn-primary" href="#">Request a quote</a>
            </nav>
            <button class="menu-trigger">
                <span class="triger-item"></span>
                <span class="triger-item"></span>
                <span class="triger-item"></span>
            </button>
        </div>
    </div>
</div>