<!doctype html>
<html lang="en">
    <head>
        {# Required meta tags #}
        <meta charset="utf-8">
            <meta
                content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                {# CSS #}
                <link
                    href="assets/css/app.css" rel="stylesheet">{# {% hook "seo" %} #}
                </head>
                <body>
                    {% include 'partials/_header' %}
                    {% block content %}{% endblock %}
                    {% include 'partials/_footer' %}{#  JavaScript  #}
                    {# <script src="{{ mix('js/app.js') }}"></script> #}<script async="" src="assets/js/lazysizes.min.js"> </script>
                </body>
            </html>
        