<div class="text spacing-both">
    <div class="grid-bg-wrapper container">
        <div class="background-grid"></div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="shift-2 text-centered">
                {{ component.text }}
            </div>
        </div>
    </div>
</div>