<div class="component-container">
    <div class="text">
        <div class="grid-bg-wrapper container">
            <div class="background-grid"></div>
        </div>
        <div class="container content">
            <div class="row">
                <div class="shift-2 undefined">
                    {{ component.text }}
                </div>
            </div>
        </div>
    </div>
</div>