<div class="component-container">
    <div class="cta">
        <div class="container content">
            <div class="row">
                <div class="col-8">
                    <h2>
                        {{ component.heading }}</h2>
                    <p>
                        {{ component.description }}</p>
                </div>
                <div class="col-4">
                    {% if not component.button.isEmpty() %}
                        <a class="btn-secondary" href="{{ component.button.getUrl() }}">
                            {{ component.button.getText() }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>