<div class="component-container">
    <div class="page-title">
        <div class="spacing-both-lg">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h1>{{ component.heading }}</h1>
                    </div>
                    <div class="col-6">
                        <h4>{{ component.description }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>