<h6>
    {{ menuItem.title }}
</h6>
<form action="">
    <div class="form-group">
        <input placeholder="your email" type="email">
            <div class="form-group checkbox">
                <label class="control-label">
                    <input type="checkbox">I agree to
                        <a href="{{ menuItem.linkTo.getUrl() }}">
                            {{ menuItem.linkTo.getText() }}</a>
                    </label>
                </div>
                <button class="btn-primary" type="submit">Subscribe</button>
            </div>
        </form>
    