{% import '_macros/image' as imageMacros %}
<div class="feature-set spacing-both">
    <div class="grid-bg-wrapper container">
        <div class="background-grid"></div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="shift-2">
                <div class="feature-set-row">
                    <div class="feature-set-col">
                        {{ imageMacros.image(component.image[0], {
                                    ratio: "",
                                    class: "rounded",
                                    srcset: [
                                        { width: 360, jpegQuality: 85 },
                                    ]
                                }
                            )   
                        }}
                    </div>
                    <div class="feature-set-col">
                        {% if component.expandable %}
                            <div class="feature-set-description">
                            {% endif %}
                            {{ component.text }}
                            {% if not component.linkTo.isEmpty() %}
                                <a class="btn-primary" href="{{ component.linkTo.getUrl() }}">
                                    {{ component.linkTo.getText() }}</a>
                            {% endif %}
                            {% if component.expandable %}
                            </div>
                            <a class="button-expand" href="#">Expand</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>