{% import '_macros/image' as imageMacros %}
<div class="navigation spacing-both">
    <div class="grid-bg-wrapper container">
        <div class="background-grid"></div>
    </div>
    <div class="container">
        <nav>
            {% for link in component.links.all() %}
                <a href="{{ link.linkTo.getUrl() }}">
                    <img alt="" src="/static/images/icon-1.svg"/>
                    {{ imageMacros.image(link.image.one(), {
                                ratio: (1/1),
                                srcset: [
                                    { width: 40, jpegQuality: 90 },
                                ]
                            }
                        )   
                    }}
                    <span class="link-text">
                        {{ link.linkTo.getText() }}</span>
                </a>
            {% endfor %}
        </nav>
    </div>
</div>